
<h2> Perfil </h2>
<p> Nome: <%= current_usuario.nome %> <%= current_usuario.sobrenome %> </p>
<p> E-mail: <%= current_usuario.email %></p>

<h2> Editar perfil </h2>
</center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, autofocus: true, autocomplete: "nome" %>
  </div>
  
  <div>
    <%= f.label :sobrenome %><br />
    <%= f.text_field :sobrenome, autofocus: true, autocomplete: "sobrenome" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Deixe em branco se não quiser alterá-la)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres no mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Precisamos da sua senha atual para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Não está satisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>