
<body>
    <!div class="bloco">
    <a href="https://www.debian.org/"><img src="/assets/sobre.png" id= "sobrepic"/></a>
    <img src="/assets/image.png" id="debian"/>
    </div>
    <div class="loja" onclick="window.location='http://localhost:3000/loja';">
        Ir para lojinha
    </div>
    <div class="sobre">
        <h1>
            Sobre a lojinha:
        </h1>
        <p class="textinho">A Lojinha Deb é uma aplicação web para vender produtos como camisetas, 
        canecas e bottons com a temática do Debian. O objetivo é arrecadar
        fundos para ajudar o grupo Debian Brasília a realizar em março de 2020 
        a MiniDebConf em Brasília.</p>
        <img src="/assets/produtos.png" id="produtos"/>
    </div>
    <div class="sobre2">
        <h1> O grupo: </h1>
        <img src="/assets/galera.jpg" id="galera"/>
    </div>
    <div class="dividir">
    </div>
</body>