<body>
  <div
    class="corpo"
  >
    <h1 
      style="margin-top: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
    > 
      Stickers
    </h1>
    <div class="linha"></div>
    <div
      class="divona"
    >
      <div
        id="esquerda"
        class="lado"
      >
        <div
          class="fundo-imagem"
        >
          <img
            src="/assets/sticker.png"
            height=400 
            width=300
            style="margin-left: auto; margin-right: auto;"
          />
        </div>

      </div>
      <div
        id="direita"
        class="lado"
      > 
        <div>
          <h2> Conjunto de stickers </h2>
          <div class="linha"/>
        </div>

        <div 
          id="descricao"
        >
          <h3> Descrição: </h3>
          <p> Conjunto que contem 5 stickers diversos com o simbolo do Debian. </p>
          <p> Medidas: 3 cm x 5cm </p>
          <p> Valor: R$ 5.00 </p>
        </div>

        <%= form_with(url: "/encomenda_stickers", method: "post") do %>
          <%= submit_tag "Realizar encomenda", class: "botao" %>
        <% end %>

  
      </div>
    </div>
  </div>
</body>
