<body>
  <div
    class="img-content"
  >
    <img 
      id="logo-img"
      src="/assets/image.png" 
    />
  </div>
  
  <div
    class="centralize"
  >
    <div
      class="capitalismo"
      id="capitalismo"
    >
      <a> Categorias </a>
    </div>
  </div>

  <div
    id="categorias"
    class="categorias"
  >
    <div
      id="camiseta"
      class="cartao"
    >
      <img 
        id="logo-img"
        src="/assets/camiseta.jpg"
        height=350 
        width=250 
      />

      <div class="botao">
        <a href="\"> Compre aqui </a>
      </div>
    </div>
    
    <div
      id="canecas"
      class="cartao"
    >
      <img 
        id="logo-img"
        src="/assets/caneca.jpg"
        height=350 
        width=250 
      />

      <div class="botao">
        <a href="\"> Compre aqui </a>
      </div>
    </div>
    
    <div
      id="bottons"
      class="cartao"
    >
      <img 
        id="logo-img"
        src="/assets/bottons.jpg"
        height=350 
        width=250 
      />

      <div class="botao">
        <a href="\"> Compre aqui </a>
      </div>
    </div>
    
    <div
      id="stickers"
      class="cartao" 
    >
      <img
        src="/assets/sticker.png"
        height=350 
        width=250
      />

      <div class="botao">
        <a href="\paginas\index"> Compre aqui </a>
      </div>
    </div>
  </div>
</body>