<h2>Mude minha senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nova senha" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimos)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confime sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nova senha" %>
  </div>

  <div class="actions">
    <%= f.submit "Mude minha senha %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
