<nav
  id="fora-bolsonaro"
  class="lula-livre"
> 
  <div
    id="logo"
  >
    <a href="/">
      <img 
        src="/assets/debianlogo.png"
        class="logo-img"
      />     
    </a>
  </div>

  <a 
    href="/paginas/index"
    class="caranga-img"
  >
    <img 
      id="carrinho"
      src="/assets/carrinho.png" 
      height=30 
      width=30 
    />
  </a>

  <div
    id="sign-links"
    class="sign-links"
  >
    <% if usuario_signed_in? %>
      <%= link_to 'Perfil', edit_usuario_registration_path, class:'link-content' %>
      <b> / </b>
      <%= link_to 'Sair', destroy_usuario_session_path, method: :delete, class:'link-content' %>
      <% if current_usuario.tipo == 'administrador' %>
        <b> / </b>
        <%= link_to 'Administrador', rails_admin_path, class:'link-content' %>
      <% end %>
    <% else %>
      <%= link_to 'Entrar', new_usuario_session_path, class:'link-content' %>
      <b> / </b>
      <%= link_to 'Registrar', new_usuario_registration_path, class:'link-content' %>
    <% end %>
  </div>

</nav>
