// Place all the styles related to the loja controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-content {
    margin-top: 5vh;
    text-align: center;
}

.capitalismo {
    text-align: center;
    width: calc(30vw + 5vh);
    height: 60px;
    background-color: #800000;
    border-radius: 15px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.capitalismo > a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: calc(8px + 1vh + 1vw);
}

.centralize {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categorias {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#parte-inferior {
    margin-top: 50px;
}

.cartao {
    background-color: #C4C4C4;
    opacity: 70%;
    width: 300px;
    height: 500px;
    text-align: center;
}

.cartao > img {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cartao > .botao {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 190px;
    height: 50px;
    background-color: #800000;
    border-radius: 12px;
}

.cartao > .botao > a {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartao > .botao > a:hover{
    text-decoration: none;
}

.cartao:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);    
    opacity: 100%;
    transition: 0.3s;
    img {
      opacity: 100%;
      transition: 0.3s;
    }

    a {
      opacity: 100%;
      transition: 0.3s;
    }
}
