// Place all the styles related to the Paginas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// $font-stack:    Helvetica, sans-serif;
// $primary-color: rgb(187, 22, 22);

.corpo {
    width: 80vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.linha {
    height: 2px;
    width: 100%;
    background-color: black;
}

.divona {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.divona > .lado {
    width: 50%;
    height: 550px;
}

.divona > .lado > .fundo-imagem {
    width: 420px;
    height: 500px;
    margin: auto;
    background-color: #c4c4c4;
    margin-top: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#direita {
    height: 500px !important;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao {
    width: 300px;
    height: 50px;
    color: white;
    font-size: 24px;
    background-color: #800000;
    border: #800000;
    border-radius: 12px;
    outline: none;
    margin-top: 180px;
}

.botao:hover {
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);
}

.botao:active {
    box-shadow: none;
    border: none;
    width: 299.5px;
    height: 49.5px;
}

#descricao {
    margin-top: 80 px;
}