// Place all the styles related to the Pagina_inicial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #E5E5E5;
}

.bloco {
    width: 70vw;
    height: 95vw;
    left: 14.5vw;
    top: 0vw;
    position: absolute;
    background: #ebebeb;
    z-index:2;

}

  .sobre {
    font-size: 10px;
    color: #a6002f;
    text-indent: 50px;
    line-height: 100px;
    width: 70vw;
    height: 24vw;
    left: 14.5vw;
    top: 32vw;
    position: absolute;
    background: #999999;
    z-index:3;
  }

  .dividir {
    width: 71vw;
    height: 1vw;
    position: absolute;
    background: #800000;
    top: 55.5vw;
    left: 14vw;
    z-index:4;
  }

  .sobre2 {
    font-size: 10px;
    color: #a6002f;
    text-indent: 50px;
    line-height: 25px;
    width: 70vw;
    height: 24vw;
    left: 14.5vw;
    top: 56.5vw;
    position: absolute;
    background: #999999;
    z-index:3;
  }
  .textinho {
    line-height: 40px;
    text-align: left;
    position: absolute;
    font-size: 15px;
    color: black;
    left: 30vw;
    top: 5.5vw;
  }

  .loja {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 115px;
    line-height: 60px;
    font-size: 35px;
    color: white;
    width: 35vw;
    height: 5vw;
    right: 32.5vw;
    top: 30vw;
    position: absolute;
    background: #800000;
    cursor: pointer;
    border-radius: 15px;
    z-index:4;
  }
  
  .loja:hover {
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.56);    
    opacity: 100%;
    transition: 0.3s;
    }

  .navbar-header {
    position: absolute;
    left: 15vw;
    top: 0.2vw;
    width: 1.4vw;
    height: 1.4vw;
    z-index:4;
  }

  a.entrar {
    text-decoration:none; 
    color: white;
    position: absolute;
    left: 70vw;
    bottom: 42vw;
    z-index: 4;
  }

  a.registrar {
    text-decoration:none; 
    color: white;
    position: absolute;
    left: 74vw;
    bottom: 42vw;
    z-index: 4;
  }

  a.perfil {
    text-decoration:none; 
    color: white;
    position: absolute;
    left: 70vw;
    bottom: 42vw;
    z-index: 4;
  }

  a.sair {
    text-decoration:none; 
    color: white;
    position: absolute;
    left: 74vw;
    bottom: 42vw;
    z-index: 4;
  }
   
  #logo {
    position: absolute;
    top: 0.5vw;
    left:2vw;
  }

  #debian {
    position: absolute;
    top: 6vw;
    right: 21vw;
  }

  #sobrepic {
    position: absolute;
    top: 85vw;
    left: 27vw;
  }

  #galera {
    height: 240px;
    width: 450px;
    position: absolute;
    top: 4vw;
    left: 30vw;
  }

  #produtos {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 7vw;
    right: 44vw;
  }

  .lula-livre {
    background-color: #800000;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo-img {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
  }

  .sign-links {
    height: 100%;
    width: 100%;
    color: white;
    margin-top: 14px;
  }

  .link-content {
    color: white;
    text-decoration:none;
  }

  .caranga-img {
    height: 100%;
    width: 30%;
    margin-left: 72%;
    margin-top: 1%;
  }
