<p>Seja bem-vinde <%= current_usuario.nome %>!</p>

<p>Você pode confirmar o e-mail da sua conta através do link abaixo:</p>

<p><%= link_to 'Confirme minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
